body {
  font-family: sans-serif;
  width: 100%;
}
a:link {
  text-decoration: none;
}
.card {
  box-shadow: 0.1px 0.1px 0.1px 0.1px grey;
}
@media (min-width: 990px) {
  .main .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media (max-width: 990px) {
  .header label {
    font-size: 0;
  }
  .btn-group {
    width: 70%;
  }
}

/* Section Header */
.header {
  background-color: #eee;
  color: #888;
  width: 100%;
}
.header li a {
  color: #888;
}

/* Section Main */

/* Div Menu */
#menu {
  color: white;
  background-color: #229ac8;
  border-radius: 5px;
}

.main .dropdown-menu div {
  display: table-cell;
}
/* Div Carousel */
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

.carousel-indicators button {
  height: 10px !important;
  width: 10px !important;
  margin: 0 10px !important;
  border-radius: 100%;
  bottom: -50px;
  position: relative;
}
.carousel-control-next span {
  position: relative;
  right: -70px;
}
.carousel-control-prev span {
  position: relative;
  left: -70px;
}

/* Div Featured  */
.img {
  text-align: center;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.img:hover {
  opacity: 0.7;
}

.btn-group {
  width: 100%;
}
.price-old {
  font-size: 0.8rem;
  color: red;
  text-decoration: line-through;
}
.price-new {
  font-weight: bold;
}
.price-tax {
  font-weight: lighter;
}

/* Section Footer */
.footer {
  background-color: #303030;
  color: #e2e2e2;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 100%;
}
.footer a {
  color: #ccc;
}
.footer a:hover {
  color: white;
}
.footer p {
  margin: 0;
}
